<!DOCTYPE html>
<html>
  <head>
    <title>RailsTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
    <header>
      <ul>
        <li><a href="#">Twitter Clone</a></li>
        <li><a href="#">To the top ()</a></li>
      </ul>
    </header>

    <%= yield %>

    <footer>
      <p>Hello</p>
      <p>Something smart</p>
    </footer>
   </div>
  </body>
</html>
