<!DOCTYPE html>
<html>
  <head>
    <title>Twitter_Clone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <div class="wrapper">
    <header>
      <ul>
        <li class="left"><a href="#">Twitter Clone</a></li>
        <li class="right"><a href="#">Sign Up</a></li>
        <li class="right"><a href="#">Login</a></li>
        <li class="right"><a href="#">Top Page</a></li>
      </ul>
    </header>

    <%= yield %>

    <footer>
      <p>Hello!</p>
      <p>Something is happening</p>
    </footer>
   </div>
  </body>
</html>
